@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

@import "tailwindcss";

.rgb-border {
  border: 4px solid transparent;
  border-radius: 1rem;
  background: 
    linear-gradient(rgb(0, 0, 0), black) padding-box, 
    linear-gradient(270deg, red, orange, yellow, green, cyan, blue, violet, red) border-box;
  background-size: 400% 400%;
  background-position: 0% 50%;
  background-clip: padding-box, border-box;
  /* color: white; */
  animation: borderMove 8s linear infinite;
}

@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.bw-border {
  border: 4px solid transparent;
  border-radius: 1rem;
  background: 
    linear-gradient(white, white) padding-box,
    linear-gradient(270deg, black, gray, gray, white, black) border-box;
  background-size: 400% 400%;
  background-position: 0% 50%;
  background-clip: padding-box, border-box;
   
  animation: bwMove 3s linear infinite;
}

@keyframes bwMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.font {
    font-family: 'Poppins','sans-serif';
}
